<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="ipc">
        <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.username">webapp</property>
        <property name="hibernate.connection.password">appweb</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/ipc0708_project</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        
        <!-- Entities to map -->
        <mapping resource="ipc/entity/Account.hbm.xml"/>
        <mapping resource="ipc/entity/Corso.hbm.xml"/>
    	<mapping resource="ipc/entity/Esame.hbm.xml"/>
    	<mapping resource="ipc/entity/Gruppo.hbm.xml"/>
    	<mapping resource="ipc/entity/InfoEsame.hbm.xml"/>
    	<mapping resource="ipc/entity/IscrizioneCorso.hbm.xml"/>
    	<mapping resource="ipc/entity/PrenotazioneEsame.hbm.xml"/>
    	<mapping resource="ipc/entity/Progetto.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
